/* Improve this later */
/* .features-cards::before {
  content: '';
  position: absolute;
  background: transparent url('/images/vertical-dots-pattern.png') no-repeat
    left bottom;
  background-size: 20%;
  height: 100%;
  bottom: 0;
  left: -75px;
  transform: translateY(23%);
  width: 100%;
  z-index: -1;
}

.features-cards::after {
  content: '';
  position: absolute;
  background: transparent url('/images/horizontal-dots-pattern.png') no-repeat
    right top;
  background-size: 30%;
  height: 200px;
  width: 100%;
  bottom: -150px;
  right: -50px;
  transform: translateY(45%);
  z-index: -1;
} */
